In [1]:
#we can use type function to get the type information of a value.
a=10
print(type(a))

<class 'int'>

In [2]:
b=10.0
print(type(b))

<class 'float'>

In [3]:
c=1+10j
print(type(c))

<class 'complex'>

In [4]:
var = "a warm Welcome to python"
type(var)

str

In [5]:
#The Python List is an ordered collection (also known as a sequence ) of elements.
List = ["apple", "banana", "cherry"]
type(List)

list

In [6]:
#Tuples are ordered collections of elements that are unchangeable.
Tuple = ("apple", "banana", "cherry")
print(type(Tuple))

<class 'tuple'>

In [7]:
#a set is an unordered collection of data items that are unique.
Set = {"apple", "banana", "cherry"}
type(Set)

set

In [8]:
#dictionaries are unordered collections of unique values stored in (Key-Value) pairs. 
Dictionary = {"Name":"Pratham"}
print(type(Dictionary))

<class 'dict'>

In [9]:
#dictionaries are unordered collections of unique values stored in (Key-Value) pairs. 
Dictionary = {"Name":"Pratham"}
print(type(Dictionary))

<class 'dict'>

In [10]:
#to represent boolean values (True and False) we use the bool data type.
print(20>10)

True

In [11]:
x = 25
y = 20
z = x > y
print(z) 
print(type(z))

True
<class 'bool'>

In [12]:
#The built-in function range() used to generate a sequence of numbers from a start number 
numbers = range(10, 15, 1)
print(type(numbers))

<class 'range'>

In [13]:
numbers = range(10, 15, 2)
print(type(numbers))

<class 'range'>