In [ ]:
#Addition
x = 10
y = 40
print(x + y)

In [ ]:
#Subtraction
x = 10
y = 40
print(y - x)

In [ ]:
#Multiplication
x = 2
y = 4
print(x * y)

In [ ]:
#Division
x = 2
y = 4
print(y / x)

In [ ]:
'''Floor Division(It returns the quotient (the result of division) 
in which the digits after the decimal are excluded''' 
x = 2.2
y = 4
# normal division
print(y / x)
#floor division
print(y // x)

In [ ]:
#Modulus(The remainder of the division)
x = 15
y = 4
print(x % y)

In [ ]:
#Exponent(power of a number)
num = 2
# 2*2
print(num ** 2)

In [ ]:
num1 = 3
# 3*3
print(num1 ** 2)

In [ ]:
x = 10
y = 5
print(x > y)
print(x < y)

In [ ]:
print(x == y) 
print(x == 10)

In [ ]:
print(x != y) 
print(10 != x)

In [ ]:
print(x >= y) 
print(10 >= x)

In [ ]:
print(x <= y) 
print(10 <= x)

In [ ]:
a = 4
b = 2
a += b
print(a)

In [ ]:
a = 4
a -= 2
print(a)

In [ ]:
a = 4
a *= 2
print(a)

In [ ]:
a = 4
a /= 2
print(a)

In [ ]:
a = 4
a **= 2
print(a)

In [ ]:
a = 5
a %= 2
print(a)

In [ ]:
a = 4
a //= 2
print(a)

In [ ]:
#logical operator
x = 5
print(x > 3 and x < 10)

In [ ]:
#In the case of arithmetic values, Logical and always returns the second value
print(10 and 20) 
print(10 and 5) 
print(100 and 300)

In [ ]:
x = 5
print(x > 3 or x < 4)

In [ ]:
#In the case of arithmetic values, Logical or it always returns the first value
print(10 or 20) 
print(10 or 5) 
print(100 or 300)

In [ ]:
x = 5
print(not(x > 3))

In [ ]:
#In the case of arithmetic values, Logical not always return False for nonzero value.
print(not 10) # False. Non-zero value
print(not 0) # True. Non-zero value

In [ ]:
#membership operator
x = ["apple", "banana"]
print("banana" in x)

In [ ]:
x = ["apple", "banana"]
print("pineapple" not in x)

In [ ]:
#This operator returns Boolean True or False.(identity operator)
x = 10
y = 11
z = 10
print(x is y) # it compare memory address of x and y 
print(x is z) # it compare memory address of x and z

In [ ]:
x = 10
y = 11
z = 10
print(x is not y) # it campare memory address of x and y 
print(x is not z) # it campare memory address of x and z

In [ ]:
#Bitwise operator AND
a = 7
b = 4
c = 5
print(a & b)
print(a & c)
print(b & c)

In [ ]:
#OR
a = 7
b = 4
c = 5
print(a | b)
print(a | c)
print(b | c)

In [ ]:
#XOR
a = 7
b = 4
c = 5
print(a ^ c)
print(b ^ c)